Checks: >
  *,

  -abseil-*,
  -altera-*,
  -android-*,
  -boost-*,
  -darwin-*,
  -fuchsia-*,
  -google-*,
  -hicpp-*,
  -linuxkernel-*,
  -llvm-*,
  -llvmlibc-*,
  -mpi-*,
  -objc-*,
  -openmp-*,
  -zircon-*,

  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -modernize-redundant-void-arg,
  -modernize-use-auto,
  -modernize-use-trailing-return-type,
  -modernize-concat-nested-namespaces,
  -readability-else-after-return,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-inconsistent-declaration-parameter-name,
  -readability-magic-numbers,
  -readability-math-missing-parentheses,
  -readability-named-parameter,
  -readability-redundant-member-init,
  -readability-redundant-typename,

  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-type-union-access,

  -cert-dcl03-c,
  -misc-static-assert

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
SystemHeaders: false
FormatStyle: none
InheritParentConfig: false
